@import '@/styles/packages';

.intro-concert {
  background-color: rgba($color: #000000, $alpha: 0.04);
  div {
    width: 80%;
  }
  h2,
  h3 {
    color: $color-main;
  }
  h3 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.2rem;
    opacity: 16%;
  }
}
